<nav class="navbar navbar-dark bg-success" style="background-color: #e3f2fd;">
    <a class="navbar-brand" id="header-utama" href="/"><img src="/icon.png" style="width: 50px;" alt="">Master & Pet </a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/pets">Pets Nearby <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/user/mypet">My Pet <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>