<!DOCTYPE html>
<html>
<head>
    <title>Master and Pet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style-home.css">
</head>
<body>
    <%- include('./includes/navbar.ejs') %> 
    <br>
    <h1>Master and Pet</h1> <br>
    <% if(!user && !admin) { %>
    <!-- <h3><a href = '/admin/login'>Login Admin</a></h3> <br> -->
    <h3><a href = '/user/signup'>Register User</a></h3> <br>
    <h3><a href = '/user/login'>Login User</a></h3> <br>
    <% } %>
    <br>
    <% if(user) { %>
    <h4>Welcome back, Master <%= user.first_name %> </h4>
    <br>
    <h5><a href = "/user/logout">Logout</a></h5>
    <% } else if(admin) { %>
        <h2>Welcome admin!</h2>
    <% } %>
    <%- include('./includes/bsjs.ejs') %>
</body>
</html>