<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master and Pet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style-home.css">
</head>
<body>
    <%- include('./includes/navbar.ejs') %> <br>
    <h1>Master and Pet</h1> <br>
    <h3>User login:</h3>
    <form action="/user/login" method="POST">
        <label for="username">Username :</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password :</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
      </form> 
      <% if(error) { %>
        <p style="color: red;"><%= error.message %></p>
        <% } %>
      <%- include('./includes/bsjs.ejs') %>
</body>
</html>